model_0.keras
model_1.keras
model_2.keras
model_3.keras
model_4.keras
model_5.keras
model_6.keras
model_7.keras
model_8.keras
model_9.keras
model_10.keras
model_11.keras
model_12.keras
model_13.keras
model_14.keras
__pycache__/
captions.txt
descriptions.pkl
features.pkl
temp_image.jpg
tokenizer.pkl
data/